# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data = pd.read_csv('../output_data/cities1.csv')
data.head()

,Unnamed: 0,City,Country,Date,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,hilo,US,1599516657,19.73,-155.09,29.00,66,90,4.60
1,1,jalu,LY,1599516712,29.03,21.55,26.84,26,0,3.43
2,2,areka,ET,1599516713,7.07,37.70,15.35,93,97,0.63
3,3,olafsvik,IS,1599516713,64.89,-23.71,8.13,74,12,3.68
4,4,constitucion,CL,1599516713,-35.33,-72.42,11.32,80,83,3.51

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = data[["lat", "Lng"]].astype(float)

In [4]:
gmaps.configure(api_key = 'AIzaSyAGzUtsjdwhQQhDDgnvwMwXByWdlzfkh-Q')

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=data['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
max_temp = 26.6667
min_temp = 21.111
wind = 4.4704
df = data.drop(data[(data['Max Temp'] <= min_temp)].index)
df = df.drop(df[(df['Max Temp'] >= max_temp)].index)
df = df.drop(df[(df['Wind Speed'] >= wind)].index)
df = df.drop(df[(df['Cloudiness'] != 0)].index)
df

,Unnamed: 0,City,Country,Date,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
25,25,primorsk,UA,1599516720,46.73,36.34,22.31,65,0,2.71
90,90,maceio,BR,1599516739,-9.67,-35.74,23.00,78,0,2.60
93,93,karratha,AU,1599516740,-20.74,116.85,22.00,47,0,3.25
106,106,pilar,BR,1599516744,-9.60,-35.96,23.00,78,0,2.60
172,172,casablanca,MA,1599516590,33.59,-7.62,23.89,94,0,1.00
192,192,bardiyah,LY,1599516772,31.76,25.09,23.30,72,0,2.73
237,237,lehliu,RO,1599516786,44.47,26.82,23.33,72,0,2.10
249,249,tartus,SY,1599516789,34.89,35.89,24.00,60,0,2.10
293,293,mitsamiouli,KM,1599516801,-11.38,43.28,24.24,70,0,2.23
315,315,marawi,PH,1599516809,8.00,124.29,23.89,88,0,1.79
331,331,touros,BR,1599516814,-5.20,-35.46,25.00,78,0,3.60
403,403,bandar-e anzali,IR,1599516834,37.47,49.46,24.00,100,0,0.27
437,437,agadir,MA,1599516813,30.42,-9.60,22.00,78,0,2.10
474,474,mount isa,AU,1599516842,-20.73,139.50,22.00,37,0,1.50
503,503,abu samrah,SY,1599516864,35.30,37.18,25.38,22,0,1.55
535,535,awjilah,LY,1599516874,29.11,21.29,25.87,44,0,4.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
locations = df[["lat", "Lng"]].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=df['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
locations

       lat     Lng
25   46.73   36.34
90   -9.67  -35.74
93  -20.74  116.85
106  -9.60  -35.96
172  33.59   -7.62
192  31.76   25.09
237  44.47   26.82
249  34.89   35.89
293 -11.38   43.28
315   8.00  124.29
331  -5.20  -35.46
403  37.47   49.46
437  30.42   -9.60
474 -20.73  139.50
503  35.30   37.18
535  29.11   21.29

In [19]:
#Store into variable named hotel_df
hotel_df = locations
hotel_df['City'] = df['City']
hotel_df['Country'] = df['Country']
hotel_df["Hotel Name"] = ""


#Search for Hotels nearby
for index, row in locations.iterrows():
    i = 1
    # get city name, lat, lnt from df
    lat = row["lat"]
    lng = row["Lng"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for {i}")
    response = requests.get(base_url, params=params).json()
    
    i=1+i
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {i} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Retrieving Results for 1
Closest hotel in 2 is Hostʹovyy Dim Oazys.
Retrieving Results for 1
Closest hotel in 2 is Jatiúca Hotel & Resort.
Retrieving Results for 1
Closest hotel in 2 is Karratha International Hotel.
Retrieving Results for 1
Missing field/result... skipping.
Retrieving Results for 1
Closest hotel in 2 is Four Seasons Hotel Casablanca.
Retrieving Results for 1
Closest hotel in 2 is Hotel Burdy.
Retrieving Results for 1
Closest hotel in 2 is Casa Crinul.
Retrieving Results for 1
Closest hotel in 2 is ROYAL INN.
Retrieving Results for 1
Closest hotel in 2 is Al Camar Lodge.
Retrieving Results for 1
Closest hotel in 2 is Marawi Resort Hotel.
Retrieving Results for 1
Closest hotel in 2 is Hotel Vila Gale Touros.
Retrieving Results for 1
Closest hotel in 2 is Dolphin Hotel.
Retrieving Results for 1
Closest hotel in 2 is Iberostar Founty Beach.
Retrieving Results for 1
Closest hotel in 2 is ibis Styles Mt Isa Verona.
Retrieving Results for 1
Missing field/result... skipping.
Retrieving Results for 1
Closest hotel in 2 is Awjilah Tourist Hotel.

       lat     Lng                     Hotel Name             City Country
25   46.73   36.34            Hostʹovyy Dim Oazys         primorsk      UA
90   -9.67  -35.74         Jatiúca Hotel & Resort           maceio      BR
93  -20.74  116.85   Karratha International Hotel         karratha      AU
106  -9.60  -35.96                                           pilar      BR
172  33.59   -7.62  Four Seasons Hotel Casablanca       casablanca      MA
192  31.76   25.09                    Hotel Burdy         bardiyah      LY
237  44.47   26.82                    Casa Crinul           lehliu      RO
249  34.89   35.89                      ROYAL INN           tartus      SY
293 -11.38   43.28                 Al Camar Lodge      mitsamiouli      KM
315   8.00  124.29            Marawi Resort Hotel           marawi      PH
331  -5.20  -35.46         Hotel Vila Gale Touros           touros      BR
403  37.47   49.46                  Dolphin Hotel  bandar-e anzali      IR
437  30.42   -9.60         Iberostar Founty Beach           agadir      MA
474 -20.73  139.50      ibis Styles Mt Isa Verona        mount isa      AU
503  35.30   37.18                                      abu samrah      SY
535  29.11   21.29          Awjilah Tourist Hotel          awjilah      LY

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "Lng"]]

In [22]:

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))