# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [34]:
data = pd.read_csv('../output_data/cities1.csv')
data.head()

,Unnamed: 0,City,Country,Date,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,hilo,US,1599516657,19.73,-155.09,29.00,66,90,4.60
1,1,jalu,LY,1599516712,29.03,21.55,26.84,26,0,3.43
2,2,areka,ET,1599516713,7.07,37.70,15.35,93,97,0.63
3,3,olafsvik,IS,1599516713,64.89,-23.71,8.13,74,12,3.68
4,4,constitucion,CL,1599516713,-35.33,-72.42,11.32,80,83,3.51

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [35]:
locations = data[["lat", "Lng"]].astype(float)

In [36]:
gmaps.configure(api_key = 'AIzaSyAGzUtsjdwhQQhDDgnvwMwXByWdlzfkh-Q')

In [37]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=data['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = .5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure